In [5]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

In [7]:
df = pd.read_csv("data/StudentsPerformance.csv")

In [8]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [34]:
X = df.drop(columns=['math score'])
y = df['math score']

In [35]:
X.shape

(1000, 7)

In [36]:
y.shape

(1000,)

In [37]:
num_features = X.select_dtypes(exclude='object').columns
cat_features = X.select_dtypes(include='object').columns

In [38]:
preprocessor = ColumnTransformer(
    [
        ('OneHotEncoder',OneHotEncoder(),cat_features),
        ('StandardScaler',StandardScaler(),num_features),
    ]
)

In [39]:
X = preprocessor.fit_transform(X)

In [29]:
X.shape

(1000, 19)

In [40]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=32)

In [41]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((800, 19), (200, 19), (800,), (200,))